.login{
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
}

.titulo{
    margin-left: 50px;
    font-family: inherit;
}


.tablacategorias{
	text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

.crearcategoria{
	
	padding-left: 200px;
}